
<h1>  Phversus </h1>

<center>
	<h2> #  <%= @tag %>  </h2>
</center>

<table align="center">
	<tr>
		<td>
			<%=image_tag(@picture_left, alt: "phVersus Example Image")%>
			<p>phVersus Example Image</p>
		</td>
		<td>
			<%=image_tag(@picture_right, alt: "phVersus Example Image")%>
			<p>phVersus Example Image</p>
		</td>
	</tr>
</table>