
<h1>  Phversus </h1>
<center>
	<h2> #  <%= @tag %>  </h2>
</center>


<table align="center">
	<tr>
		<td>
			<img src="/assets/excel.png" height="90" width="90"><p>Make an Excel Model</p>
		</td>
		<td>
			<img src="/assets/excel.png" height="90" width="90"><p>Make an Excel Model</p>
		</td>
	</tr>
</table>